* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #01ba5c, #00ae55);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  overscroll-behavior: contain;
}
section {
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  grid-template-rows: repeat(8, 4rem);
  grid-gap: 0.5rem;
  perspective: 800px;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px, 5px, 15px;
}
.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  -webkit-backface-visibility: hidden; /*Stop flickering on IOS */
}
.back {
  background-size: 100%;
  background-color: white;
  backface-visibility: hidden;
  border-radius: 10%;
}
.toggleCard {
  transform: rotateY(180deg);
}
.start{
  transform: rotateY(720deg);
}
.face {
  transform: rotateY(-180deg);
}
.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transition: background-color 500ms, font-size 500ms;
}
.overlay-text-small {
  font-size: 0.3em;
}
.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(1, 186, 92, 0.9);
    font-size: 3em;
  }
}

.modal-title {
  margin-bottom: 1.25em;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  color: white;
  text-align: center;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #02884E;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.shareButton {
  
  background-color: #37003C;
  color: white;
  height: 3.5em;
  width: 6.5em;
  border: none;
  font-size: 1em;
  margin-top: 1.25em;
}

.info {
  width: 22em;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  
}
.info > .left {
  
  width: 50%;
  text-align: left;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;

}
.info > .right {
  
  width: 50%;
  text-align: right;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;

}

.info span {
  font-family: 'Orbitron', sans-serif;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: white; /* Black background color */
  color: black; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
    
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.flashing{
  color: red;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.fa{
  padding-top: 20px;
  font-size: 2em!important;
  text-decoration: none;
  color: #55ACEE;
}